<ion-card class="quadrado-pokemon">
  <div class="topo-pokemon">
    <div class="numero-pokemon">#{{ pokemon.id | number:'3.0' }}</div>
    <ion-icon
      class="coracao"
      [name]="pokemon.favorito ? 'heart' : 'heart-outline'"
      [color]="pokemon.favorito ? 'danger' : 'medium'"
      (click)="$event.stopPropagation(); favoritar(pokemon)"
    ></ion-icon>
  </div>

  <div class="conteudo-pokemon">
    <img class="imagem-pokemon" [src]="pokemon.imagem" [alt]="pokemon.nome" />

    <div class="tipos-pokemon">
      @for (tipo of pokemon.tipos; track tipo) {
      <span class="cada-tipo {{ tipo }}"> {{ tipo }} </span>
      }
    </div>
  </div>

  <div class="nome-pokemon {{ pokemon.tipos[0] }}">{{ pokemon.nome }}</div>
</ion-card>
