<app-cabecalho></app-cabecalho>

<ion-content
  ><button class="botao-voltar" (click)="voltarHome()">⭠</button>
  <h1 class="titulo-pagina">Favoritos</h1>
  <div class="centralizar">
    <div class="grade-pokemons">
      <ng-container *ngFor="let pokemon of favoritos">
        <div class="pokemon-clicavel" (click)="abrirDetalhes(pokemon.id)">
          <app-ficha-pokemon
            [pokemon]="pokemon"
            (favoritar)="favoritar(pokemon)"
          ></app-ficha-pokemon>
        </div>
      </ng-container>

      <div *ngIf="favoritos.length === 0" class="sem-favoritos">
        Nenhum Pokémon favoritado ainda.
      </div>
    </div>
  </div>
</ion-content>
