<ion-content>
  <div class="pesquisa-ordenacao">
    <div class="ordenacao">
      <span class="span-ordenacao">Ordenação: </span>
      <select [(ngModel)]="ordenacao">
        <option *ngFor="let op of opcoesOrdenacao" [value]="op.valor">
          {{ op.label }}
        </option>
      </select>
    </div>

    <div class="barra-pesquisa">
      <input
        type="text"
        placeholder="Pesquisar Pokémon..."
        [(ngModel)]="procuraTexto"
        maxlength="150"
      />
      <button *ngIf="procuraTexto" class="limpar-btn" (click)="procuraTexto=''">
        ×
      </button>
    </div>
  </div>

  <div class="grade-pokemons">
    @for (pokemon of pokemonsPaginaAtual; track pokemon.id) {
    <app-ficha-pokemon [pokemon]="pokemon"></app-ficha-pokemon>
    }
  </div>

  <div class="controle-paginas">
    <div class="poke-pagina">
      <span>Pokémon por página:</span>
      <select [(ngModel)]="limitePorPagina" (change)="mudarLimite()">
        <option *ngFor="let op of opcoesLimite" [value]="op">{{ op }}</option>
      </select>
    </div>
    <div class="paginas-visiveis">
      <button (click)="paginaAnterior()" [disabled]="paginaAtual === 0">
        &lt;
      </button>

      <ng-container *ngFor="let p of getPaginasVisiveis()">
        <button
          *ngIf="p !=='...'; else reticencias"
          [class.ativo]="p === paginaAtual + 1"
          (click)="typeof p === 'number' && irParaPagina(p)"
        >
          {{ p }}
        </button>
        <ng-template #reticencias>
          <span class="reticencias">...</span>
        </ng-template>
      </ng-container>

      <button
        (click)="proximaPagina()"
        [disabled]="paginaAtual + 1 >= totalPaginas"
      >
        &gt;
      </button>
    </div>
  </div>
</ion-content>
